In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os

data_dir = './data/'
file = 'userid-timestamp-artid-artname-traid-traname.tsv'

In [2]:
df = pd.read_csv(data_dir + file, delimiter="\t", header=None, error_bad_lines=False)
df.describe()
drop_na_df = df.dropna(axis=0, how='any')
#drop_na_df.head(5)
drop_na_df.describe()

b'Skipping line 2120260: expected 6 fields, saw 8\n'
b'Skipping line 2446318: expected 6 fields, saw 8\n'
b'Skipping line 11141081: expected 6 fields, saw 8\n'
b'Skipping line 11152099: expected 6 fields, saw 12\nSkipping line 11152402: expected 6 fields, saw 8\n'
b'Skipping line 11882087: expected 6 fields, saw 8\n'
b'Skipping line 12902539: expected 6 fields, saw 8\nSkipping line 12935044: expected 6 fields, saw 8\n'
b'Skipping line 17589539: expected 6 fields, saw 8\n'

,0,1,2,3,4,5
count,16936134,16936134,16936134,16936134,16936134,16936134
unique,992,15631466,83905,81751,960402,693231
top,user_000949,2009-02-26T21:29:15Z,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,db16d0b3-b8ce-4aa8-a11a-e4d53cc7f8a6,Intro
freq,172042,193,111488,111488,3991,14908

In [3]:
file_name = 'original_set'
#drop_na_df.to_pickle(data_dir + file_name)
drop_na_df = pd.read_pickle(data_dir + file_name)

In [4]:
most_close_time = datetime.strptime("2009-05-05 23:59:59", "%Y-%m-%d %H:%M:%S")
print(most_close_time)
most_early_time = most_close_time - timedelta(days=180)
print(most_early_time)

2009-05-05 23:59:59
2008-11-06 23:59:59

In [5]:
temp_df = drop_na_df.copy()
f = lambda x: np.NaN if datetime.strptime(x, "%Y-%m-%dT%H:%M:%SZ") < most_early_time else x
temp_df.iloc[:,1:2] = drop_na_df.iloc[:,1:2].applymap(f)

split_date_df = temp_df.dropna(axis=0, how='any')
split_date_df.describe()

,0,1,2,3,4,5
count,3052646,3052646,3052646,3052646,3052646,3052646
unique,923,2757174,49603,48747,465798,353529
top,user_000791,2009-02-26T21:29:15Z,164f0d73-1234-4e2c-8743-d77bf2191051,Kanye West,153d8ca0-dc23-4548-b64f-2c49db7f30db,Heartless
freq,48822,193,31412,31412,2559,2635

In [6]:
file_name = 'split_date_set'
split_date_df.to_pickle(data_dir + file_name)

In [7]:
Session_time = timedelta(minutes=20)

In [8]:
dataset_dic = {}
#for idx in range(split_date_df.shape[0]-1,-1,-1):
for idx in range(split_date_df.shape[0]-1,-1,-1):
    data = split_date_df.iloc[idx:idx+1,:].values[0]
    #print(data)
    if not data[0][5:] in dataset_dic.keys():
        #Session List
        dataset_dic[data[0][5:]] = []
        current_time = datetime.strptime(data[1], "%Y-%m-%dT%H:%M:%SZ")
        #Session
        dataset_dic[data[0][5:]].append([])
        #log
        dataset_dic[data[0][5:]][0].append([data[3],data[5]])
    else:
        #log time
        temp_time = datetime.strptime(data[1], "%Y-%m-%dT%H:%M:%SZ")
        if temp_time - current_time > Session_time:
            #new session
            dataset_dic[data[0][5:]].append([])
            #Put the log to the len(session_list)-1 of session_list(current_session)
            dataset_dic[data[0][5:]][len(dataset_dic[data[0][5:]])-1].append([data[3],data[5]])
        else:
            #Put the log to the len(session_list)-1 of session_list(current_session)
            dataset_dic[data[0][5:]][len(dataset_dic[data[0][5:]])-1].append([data[3],data[5]])

In [9]:
dataset_dic.keys()

dict_keys(['001000', '000999', '000998', '000997', '000995', '000994', '000993', '000992', '000991', '000990', '000989', '000987', '000986', '000985', '000984', '000983', '000982', '000981', '000980', '000979', '000978', '000977', '000976', '000975', '000974', '000973', '000972', '000971', '000970', '000969', '000968', '000967', '000966', '000965', '000964', '000963', '000962', '000961', '000960', '000959', '000958', '000957', '000956', '000955', '000954', '000953', '000952', '000951', '000950', '000949', '000948', '000947', '000946', '000945', '000944', '000943', '000942', '000941', '000940', '000939', '000938', '000937', '000936', '000935', '000934', '000933', '000932', '000931', '000930', '000929', '000928', '000927', '000926', '000925', '000924', '000923', '000922', '000921', '000920', '000919', '000918', '000917', '000916', '000915', '000914', '000913', '000912', '000911', '000910', '000909', '000908', '000907', '000906', '000905', '000904', '000903', '000901', '000900', '000899', '000898', '000897', '000896', '000895', '000894', '000893', '000892', '000891', '000890', '000889', '000888', '000887', '000886', '000885', '000884', '000882', '000881', '000880', '000879', '000878', '000877', '000876', '000875', '000874', '000873', '000872', '000871', '000870', '000869', '000867', '000866', '000865', '000864', '000863', '000862', '000861', '000860', '000859', '000858', '000857', '000854', '000853', '000852', '000851', '000850', '000849', '000848', '000847', '000845', '000844', '000842', '000841', '000840', '000839', '000838', '000837', '000836', '000835', '000834', '000833', '000832', '000831', '000830', '000829', '000828', '000827', '000826', '000825', '000824', '000823', '000822', '000821', '000820', '000819', '000818', '000817', '000816', '000814', '000813', '000812', '000811', '000810', '000809', '000807', '000806', '000805', '000804', '000803', '000802', '000801', '000800', '000799', '000798', '000797', '000796', '000795', '000794', '000793', '000792', '000791', '000790', '000789', '000788', '000787', '000786', '000784', '000783', '000782', '000781', '000780', '000779', '000778', '000777', '000776', '000775', '000774', '000773', '000772', '000771', '000770', '000769', '000768', '000767', '000766', '000765', '000764', '000763', '000762', '000761', '000760', '000759', '000758', '000757', '000756', '000755', '000754', '000753', '000752', '000751', '000750', '000749', '000748', '000747', '000746', '000745', '000744', '000743', '000742', '000741', '000740', '000739', '000738', '000737', '000735', '000734', '000733', '000732', '000731', '000730', '000729', '000728', '000727', '000726', '000725', '000724', '000723', '000722', '000721', '000720', '000719', '000718', '000717', '000716', '000715', '000714', '000713', '000712', '000711', '000710', '000709', '000708', '000707', '000706', '000705', '000704', '000703', '000702', '000701', '000700', '000699', '000698', '000697', '000696', '000695', '000694', '000692', '000691', '000690', '000688', '000687', '000686', '000685', '000684', '000683', '000682', '000681', '000680', '000679', '000678', '000676', '000675', '000674', '000673', '000672', '000671', '000670', '000669', '000668', '000667', '000666', '000665', '000664', '000662', '000661', '000660', '000659', '000658', '000657', '000656', '000654', '000653', '000652', '000651', '000650', '000649', '000647', '000646', '000645', '000644', '000643', '000642', '000641', '000639', '000638', '000637', '000636', '000635', '000634', '000633', '000632', '000631', '000629', '000628', '000627', '000626', '000625', '000623', '000621', '000620', '000619', '000618', '000617', '000616', '000615', '000614', '000613', '000612', '000611', '000610', '000609', '000608', '000607', '000606', '000604', '000603', '000602', '000601', '000600', '000599', '000598', '000596', '000595', '000594', '000593', '000591', '000590', '000588', '000587', '000586', '000585', '000584', '000583', '000581', '000580', '000579', '000577', '000576', '000575', '000574', '000573', '000572', '000571', '000570', '000569', '000568', '000566', '000565', '000564', '000563', '000562', '000561', '000560', '000559', '000558', '000557', '000556', '000555', '000554', '000553', '000552', '000551', '000550', '000549', '000547', '000546', '000544', '000543', '000541', '000540', '000539', '000538', '000537', '000536', '000535', '000533', '000532', '000531', '000530', '000529', '000528', '000527', '000526', '000525', '000524', '000523', '000522', '000521', '000520', '000519', '000518', '000517', '000516', '000515', '000514', '000513', '000512', '000511', '000510', '000509', '000508', '000507', '000506', '000505', '000504', '000503', '000502', '000501', '000500', '000499', '000498', '000497', '000496', '000495', '000494', '000493', '000492', '000491', '000490', '000488', '000487', '000486', '000485', '000484', '000483', '000482', '000481', '000480', '000479', '000478', '000477', '000476', '000475', '000474', '000472', '000471', '000469', '000468', '000467', '000465', '000464', '000463', '000462', '000461', '000460', '000459', '000458', '000456', '000454', '000453', '000452', '000451', '000450', '000448', '000447', '000446', '000445', '000444', '000441', '000440', '000439', '000438', '000437', '000436', '000435', '000434', '000433', '000432', '000431', '000430', '000429', '000427', '000426', '000425', '000424', '000423', '000422', '000421', '000419', '000417', '000415', '000414', '000413', '000412', '000411', '000410', '000409', '000407', '000406', '000405', '000404', '000403', '000401', '000400', '000399', '000398', '000397', '000396', '000395', '000394', '000392', '000391', '000390', '000389', '000388', '000387', '000385', '000384', '000383', '000381', '000380', '000379', '000378', '000377', '000376', '000375', '000374', '000373', '000372', '000371', '000370', '000369', '000368', '000367', '000366', '000364', '000363', '000362', '000361', '000360', '000359', '000358', '000357', '000356', '000355', '000354', '000353', '000352', '000351', '000350', '000349', '000348', '000347', '000346', '000345', '000344', '000342', '000341', '000340', '000339', '000338', '000337', '000335', '000333', '000331', '000330', '000329', '000328', '000327', '000326', '000325', '000324', '000323', '000322', '000321', '000320', '000319', '000318', '000317', '000316', '000315', '000314', '000313', '000312', '000311', '000310', '000309', '000308', '000307', '000306', '000305', '000304', '000303', '000302', '000301', '000300', '000299', '000298', '000296', '000295', '000294', '000293', '000292', '000291', '000290', '000289', '000288', '000286', '000285', '000284', '000282', '000281', '000280', '000279', '000278', '000277', '000276', '000275', '000274', '000273', '000272', '000271', '000270', '000269', '000268', '000267', '000266', '000265', '000264', '000262', '000261', '000260', '000259', '000258', '000257', '000256', '000255', '000254', '000253', '000252', '000251', '000250', '000249', '000248', '000247', '000246', '000245', '000244', '000243', '000242', '000241', '000239', '000238', '000237', '000236', '000235', '000234', '000233', '000231', '000230', '000229', '000228', '000227', '000226', '000225', '000224', '000223', '000222', '000221', '000220', '000219', '000218', '000217', '000216', '000215', '000214', '000213', '000212', '000211', '000210', '000209', '000208', '000207', '000206', '000205', '000204', '000203', '000202', '000201', '000200', '000199', '000198', '000197', '000196', '000195', '000194', '000193', '000192', '000191', '000190', '000189', '000188', '000187', '000186', '000185', '000184', '000182', '000181', '000180', '000179', '000178', '000177', '000175', '000174', '000173', '000172', '000171', '000170', '000169', '000168', '000167', '000166', '000165', '000164', '000163', '000162', '000161', '000160', '000159', '000158', '000157', '000156', '000155', '000154', '000153', '000152', '000151', '000150', '000149', '000148', '000147', '000146', '000145', '000144', '000143', '000142', '000141', '000139', '000138', '000137', '000136', '000135', '000134', '000133', '000132', '000131', '000130', '000129', '000128', '000125', '000124', '000123', '000122', '000121', '000120', '000119', '000118', '000117', '000116', '000115', '000114', '000113', '000112', '000111', '000110', '000108', '000107', '000106', '000105', '000104', '000103', '000102', '000101', '000100', '000099', '000098', '000097', '000096', '000095', '000094', '000093', '000092', '000091', '000090', '000089', '000088', '000087', '000086', '000085', '000084', '000083', '000082', '000081', '000079', '000077', '000076', '000075', '000074', '000073', '000072', '000071', '000070', '000069', '000068', '000067', '000066', '000065', '000064', '000063', '000062', '000060', '000059', '000056', '000055', '000054', '000053', '000052', '000051', '000050', '000049', '000048', '000046', '000045', '000044', '000043', '000041', '000040', '000039', '000038', '000037', '000036', '000035', '000034', '000033', '000032', '000031', '000030', '000029', '000028', '000027', '000026', '000025', '000024', '000023', '000022', '000021', '000020', '000019', '000018', '000017', '000016', '000015', '000014', '000012', '000011', '000010', '000009', '000008', '000007', '000006', '000005', '000004', '000003', '000002', '000001'])

In [10]:
a = list(dataset_dic.values())

In [11]:
print(len(a))
print(len(a[1]))
for i in range(7357):
    print(a[1][i])
    break
print(len(a[1][0]))

923
13324
[['Billy Talent', 'Pins And Needles'], ['Billy Talent', 'Surrender'], ['Billy Talent', 'Devil In A Midnight Mass'], ['Billy Talent', 'Fallen Leaves'], ['Billy Talent', 'Pins And Needles'], ['Billy Talent', 'Red Flag'], ['Billy Talent', 'Surrender']]
7